body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(16, 47, 107)
}

.contenedor_forms{
    background-image: url(../foto_fondo_auto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
}