*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.fondo{
    background-color:rgb(16,47,107) ;
}

.estilo_titulo{
    font-family:'Oswald'; 
    font-size:5rem; 
    color: white; 
}


.ingresa_datos{
    font-family:'Oswald'; 
    font-size:xx-large;
    color: white;
}

.contenedor{

    display: flex;
    justify-content: center;
    align-items: center;

}

.boton_cotizar{
    font-family:'Oswald';
    color: white; 
    font-size: 40px; 
    line-height: 20px; 
    text-decoration: none; 
    padding: 20px 50px; 
    border-radius: 10px; 
    margin: 20px 0px;
    background-color:rgb(16,47,107) ;
}

.boton_volver{
    font-family: 'Oswald';
    color: rgb(16, 47, 107);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
}

.boton_ver_mas{
    font-family: 'Oswald';
    color: rgb(16, 47, 107);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
}

.boton_volver:hover{
    transition: .5s;
    color: white;
    background-color:rgb(16,47,107) ;

}

.boton_ver_mas:hover{
    transition: .5s;
    background-color:rgb(16, 47, 107) ;
    color: white;
}


@media (max-width: 1200px) {

    .estilo_subtitulo {

        font-size: 80px; 
        line-height: 70px;
    }
}

@media (max-width: 1200px) {

    .estilo_titulo {

        font-size: 4rem; 
        line-height: 70px;
    }
}

@media (max-width: 366px) {

    .estilo_titulo {

        font-size: 3rem; 
        line-height: 70px;
    }
}

@media (max-width: 288px) {

    .estilo_titulo {

        font-size: 2rem; 
        line-height: 70px;
    }
}

@media (max-width: 205px) {

    .estilo_titulo {

        font-size: 1rem; 
        line-height: 70px;
    }
}



.boton_cotizar:hover{
    transition: .5s;
    background-color: white;
    color:rgb(16,47,107) ;

}

.contenedor_forms{
    background-image: url( foto_fondo_auto.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 10px; 
    padding: 20px; 
    backdrop-filter: blur(10px); 
}

.contenedor_datos_vehiculo{
    
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.contenedor_botones_parte_izq{
    margin: 20px 0px;
}

.boton_parte_izq{
    padding: 10px 30px;
    color: white;
    background-color: rgb(149, 149, 149);
    border-radius: 10px;
    text-decoration: none;
}

.boton_parte_izq:hover{
    background-color: rgb(100, 100, 100);
}

.tarjeta {
    width: 350px;
    height: 650px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
  }

  .seccion-superior {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40%;
    color: rgb(16,47,107);
    border-bottom: 1px solid white;
    font-weight: bold;
    backdrop-filter: blur(10px); 
    background-color: #fff;
  }

  .seccion-inferior {
    height: 60%;
    font-weight: bold;
    color: #fff;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 20px; 
    position: relative; 
}

  .circulo-precio-popup {
    width: 250px;
    height: 90px;
    background-color:rgb(16,47,107); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20; 
    
  }

  .circulo-precio{
      width: 250px;
      height: 90px;
      background-color: rgb(16, 47, 107);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;

  }

  .precio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff; 
    font-size: 40px;
    font-weight: bold;
  }

.texto_tachado{
    border-left: 135px solid #ff0000;
    border-radius: 100x;
    height: 2px;
    position: absolute;
    left: 30%;
    margin-top: 30px;
}

.contenedor_textos_tarjeta{
    display: flex; 
    justify-content: center;
}

.precio_anterior{
    font-weight: bolder; 
    font-size: 25px; 
    line-height: 20px; 
    margin-top: 20px;
    position: relative;
}

.mes_precio_anterior{
    margin-top: 20px;
}

.precio_promocional{
    font-weight: inherit;
    font-size: 20px;
    line-height: 10px;
    padding-top: 20px;
    font-family: 'Cabin', sans-serif;
}

@media (max-width: 308px) {

    .precio_promocional{
        font-weight: inherit;
        font-size: 20px;
        line-height: 30px;
        padding-top: 20px;
        font-family: 'Cabin', sans-serif;
    }
}

.terceros{
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    line-height: 10px;
}

.ahorro{
    font-family: 'Cabin', sans-serif;
    display:inline;
    border-radius: 5px;
    padding: 5px;
    background: rgb(148,83,191);
    background: linear-gradient(90deg, rgba(148,83,191,1) 0%, rgba(232,160,95,1) 60%, rgba(251,177,74,1) 100%);
}

.caracteristicas_seguro{
    margin-top: 30px;
    text-align: center;
    font-family:'Oswald'; 
    font-weight: lighter;
}

.boton_comprar,
.boton_ver_mas1{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    font-family:'Oswald'; 
}

.boton_comprar{
    font-family: 'Oswald';
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 0px;
    background-color: rgb(16, 47, 107);

}

.boton_ver_mas1{
    background-color: rgb(129, 129, 129);
    padding: 10px 30px;
}

.boton_comprar:hover{
    transition: .5s;
    background-color: white;
    color: rgb(16, 47, 107);
}

.contenedor_botones_tarjeta {
    margin-top: auto; /* Empujar los botones hacia la parte inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas_seguro p{
    margin-bottom: 0rem;
}

.capa_popup{

    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    visibility: hidden;
    z-index: 10;
}

.capa_popup.active{
    visibility: visible;
}

.popup_contenido{
    align-items: center;
    text-align: center;
}

.cerrar_popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    background-color:white;
    color: rgb(22, 60, 136);
    padding: 10px;
    text-decoration: none;
    border-top: 10px;
    position: relative;
    z-index: 10;
}

.tarjeta_popup {
    width: 350px;
    height: 650px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    border: 1px solid white;
  }

.seccion-inferior_popup {
    height: 60%;
    font-weight: bold;
    color: #fff;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 20px; 
    position: relative; 
    z-index: 10;
    background-color: black;
}

