*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.fondo{
    background-color:rgb(16,47,107) ;
}

.contenedor_forms{
    background-image: url(foto_fondo_auto.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 10px; 
    padding: 20px; 
    backdrop-filter: blur(10px); 
}

.estilo_titulo{
    font-family:'Oswald'; 
    font-size:5rem; 
    line-height: 4rem;
    color: white; 
}

.completa_datos{
    font-family:'Oswald'; 
    font-size:xx-large;
    color: white;
}

.titulo_datos_vehiculo{
    padding: 0px;
}

.mt-5 {
    margin-top: 0rem!important;
}

.contenedor_datos_vehiculo{
    margin: 10px;
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 10px; 
    padding: 15px; 
    backdrop-filter: blur(10px); 
}

.boton_cotizar_p4{
    text-decoration: none;
    color: white;
    background-color: rgb(16,47,107);
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.segundo_form_4ta_pagina{
    opacity: 0;
    display: none;
    transition: 0.5s;
}

.fomulario_2_cuarta_pagina, .fomulario_1_cuarta_pagina, .fomulario_3_cuarta_pagina{
    transition: 1s;
    border: 1px solid white;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.boton_continuar_formularios{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Oswald';
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color:rgb(16, 47, 107) ;
    padding: 10px 30px;
}


.boton_continuar{
    background-color: rgb(16, 47, 107);
    color: white;
    border: 1px solid  rgb(16, 47, 107);
}


.boton_volver_formularios{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Oswald';
    color: rgb(16, 47, 107);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    text-decoration: none
}

.boton_continuar_formularios:hover{
    transition: .5s;
    background-color: white;
    color: rgb(16, 47, 107);
}

.formulario_2_cuarta_pagina .boton_continuar_formularios{
    margin: 5px;
}

.boton_volver_formularios:hover{
    transition: .5s;
    color: white;
    background-color: rgb(16, 47, 107);
}

.volver_ultimo_formulario{
    padding: 10px 30px;
    border-radius: 10px;
    color: rgb(16, 47, 107) ;
    font-size: 20px;
    font-family: 'Oswald';
    width: 100%;
}

.volver_ultimo_formulario:hover{
    transition: .5s;
    color: white;
    background-color:rgb(16, 47, 107) ;
}

.continuar_ultimo_formulario{
    width: 100%;
    background-color:rgb(16, 47, 107) ;
    color: white;
    font-size: 20px;
    font-family: 'Oswald';
    border-radius: 10px;
}

.volver_ultimo_formulario:hover{
    transition: .5s;
    background-color: rgb(16, 47, 107);
    color: white;
}

@media (max-width: 1200px) {

    .estilo_titulo {

        font-size: 4rem;
        line-height: 70px;
    }
}

@media (max-width: 1200px) {

    .estilo_titulo {

        font-size: 4rem;
        line-height: 70px;
    }
}

@media (max-width: 576px) {

    .container {
        border-radius: 0px;
    }
}