*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{

    background-image: url("./IMG_coti_p2/fondo_auto.jpg"); /* Ruta de la imagen de fondo */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Cubre completamente el contenedor con la imagen */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 100vh; /* 100% del alto de la ventana visible */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra con color negro y opacidad 0.5 */
}

.boton_cotizar:hover{
    background-color: rgb(150, 150, 150);

}



