*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.fondo{
    background-color:rgb(16,47,107) ;
}

.estilo_titulo{
    font-family:'Oswald'; 
    font-size: 120px; 
    color: white; 
    line-height: 107px;
}
.estilo_subtitulo{
    font-family:'Oswald'; 
    font-size: 80px; 
    line-height: 55px;
    color: white;
}

.ingresa_datos{
    font-family:'Oswald'; 
    font-size:xx-large;
    color: white;
}

.contenedor{

    display: flex;
    justify-content: center;
    align-items: center;

}

.boton_cotizar{
    font-family:'Oswald';
    color: white; 
    font-size: 40px; 
    line-height: 20px; 
    text-decoration: none; 
    padding: 20px 50px; 
    border-radius: 10px; 
    margin: 20px 0px;
    background-color:rgb(16,47,107) ;
}

.boton_volver{
    font-family:'Oswald';
    color: rgb(16,47,107); 
    font-size: 20px; 
    line-height: 10px; 
    text-decoration: none; 
    padding: 10px 30px; 
    border-radius: 10px; 
    background-color:white ;
}

.boton_volver:hover{
    transition: 2s;
    color: white;
    background-color:rgb(16,47,107) ;

}

@media (max-width: 1200px) {

    .estilo_subtitulo {

        font-size: 80px; 
        line-height: 70px;
    }
}

.boton_cotizar:hover{
    transition: 2s;
    background-color: white;
    color:rgb(16,47,107) ;

}

.contenedor_forms{
    background-image: url( /Rediseño-cotizador-pag-2/IMG_coti_p2/foto_fondo_auto.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    border-radius: 10px; 
    padding: 20px; 
    backdrop-filter: blur(10px); 
}

